<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2009, 2010, B3log Team

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<!--
    Description: B3log Solo web deployment descriptor.
                 Note:
                 1. DO NOT configure servlets in this file, using Guice-Servlet
                    extension instead, see class org.b3log.solo.action.ActionModule
                    for details.
    Version: 1.0.1.1, Dec 7, 2010
    Author: Liang Ding
-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>GuiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GuiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/upgrade/*</url-pattern>
            <url-pattern>/init.do</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin-article-list.do</url-pattern>
            <url-pattern>/admin-article-sync.do</url-pattern>
            <url-pattern>/admin-article.do</url-pattern>
            <url-pattern>/admin-draft-list.do</url-pattern>
            <url-pattern>/admin-error.do</url-pattern>
            <url-pattern>/admin-file-list.do</url-pattern>
            <url-pattern>/admin-index.do</url-pattern>
            <url-pattern>/admin-link-list.do</url-pattern>
            <url-pattern>/admin-others.do</url-pattern>
            <url-pattern>/admin-page.do</url-pattern>
            <url-pattern>/admin-preference.do</url-pattern>
            <url-pattern>/admin-user-list.do</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <listener>
        <listener-class>org.b3log.solo.SoloServletListener</listener-class>
    </listener>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>org.b3log.solo.action.impl.ErrorAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error.do</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error.do</location>
    </error-page>

    <servlet>
        <servlet-name>AdminError</servlet-name>
        <servlet-class>org.b3log.solo.action.impl.AdminErrorAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminError</servlet-name>
        <url-pattern>/admin-error.do</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>400</error-code>
        <location>/admin-error.do</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/403.html</location>
    </error-page>

</web-app>
