/*
    Document   : default-index
    Version    : 1.0.0.3, Aug 21, 2010
    Author     : Liyuan Li
    Description:
        user blog simple-art style.
*/
body {
    background-color:#D9D6CB;
    font:75%/150% verdana,sans-serif;
}

a, a:link {
    color:#336699;
}

a:visited {
    color:#006BAD;
}

a:hover {
    color: #D59139;
}

a:active {
    color:#006BAD;
}

.content {
    min-width: 760px;
    width: 85%;
    margin: 0 auto;
}

.error-msg {
    color: #FF0000;
}

.header {
    background-color:gray;
    height:113px;
}

.header-right {
    margin: 0px 0 5px 0px;
    width: 78%;
    padding: 5px;
}

.header-right a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-right a:hover {
    color: #FF0000;
}

#statistic {
    color: #FFFFFF;
}

.title {
    font-size:22px;
    padding:0.7em 1em;
}

.title a {
    color:#FFFFFF;
    font-size: 22px;
    text-decoration: none;
}

.sub-title {
    font-size:15px;
    padding:0.2em 1.6em;
    color: #FFFFFF;
    font-weight: bold;
}

.header-navi {
    padding:12px 24px;
}

.header-navi a {
    color:#FFFFFF;
    text-decoration: none;
    padding:2px 10px;
}

.header-navi a:hover {
    color: #FF0000;
}

.body {
    background-color: #EEEEEE;
}

.side {
    margin: 5px 0 5px 5px;
    background-color: #F5F5F5;
    width: 20%;
}

.main {
    margin: 5px 0 5px 0px;
    background-color: #FFFFFF;
    width: 78%;
    padding: 5px;
}

.side-navi h4 {
    border-bottom:1px solid #CCCCCC;
    clear:both;
    color:#000000;
    font:bold 14px "Microsoft yahei",verdana,sans-serif;
    margin:20px 0 5px
}

.side-navi li li {
    margin:8px 0;
    font-size: 95%;
}

.side-navi a {
    text-decoration: none;
}

#userIntro img {
    border:1px solid #CCCCCC;
    margin:12px;
    padding:6px;
    width:136px;
}

.article {
    margin: 5px 0;
}

.article-date {
    border-bottom:1px solid #DCDCDC;
    color:#000000;
    font:bold 12px/24px "Georgia",sans-serif;
    padding:0 0 0 10px;
    text-align:left;
}

.article-title {
    margin: 1em 1em 0;
    border-bottom:2px solid #DCDCDC;
    font-family:"Microsoft yahei",verdana,sans-serif;
    padding-bottom: 5px;
}

.article-title h2 a {
    font-size: 15px;
    color:#223355;
}

.article-title h2 a:hover {
    text-decoration: underline;
}

.article-tags {
    display: none;
}

.article-body {
    margin: 1em;
}

.article-body blockquote{
    border:1px dotted #98A47F;
    margin:12px;
    padding:12px;
    font-style: italic;
}

.article-body * {
    margin: auto;
}

.article-body ol, .article-body ul {
    padding: 0 0 0 24px;
}

.article-body p {
    margin:1em 0 0.5em
}

.article-footer {
    margin: 1em;
    background-color: #F5F5F5;
    padding: 3px 6px;
    color: #336699;
}

.article-footer a {
    text-decoration: underline;
}

.article-create-date {
    color: #AAAAAA;
}


.pagination {
    text-align: center;
    margin: 16px;
}

.pagination a, .pagination a:visited {
    color: #4272DB;
    text-decoration: none;
}

.pagination a.selected {
    color: #000000;
    font-weight: bold;
}

.comments {
    margin: 1em;
}

.comment-title {
    background:none repeat scroll 0 0 #FBF9F9;
    border-top:1px solid #336699;
    margin:5px 0 6px;
    padding:3px 10px;
}

.comment-body {
    margin:0 24px 12px;
}

#tagsPanel {
    padding:24px;
}

#tagsPanel .tagPanel:hover {
    text-decoration: none;
}