/*
    Document   : default-index
    Version    : 1.0.0.1, Aug 23, 2010
    Author     : Liyuan Li
    Description:
        user blog gray-blue style.
*/
body {
    background-color:#303B41;
    font:75%/150% verdana,sans-serif;
    color: #808080;
}
.content {
    min-width: 760px;
    width: 85%;
    margin: 0 auto;
}

.header {
    background-image: url(banner.jpg);
    height:149px;
    border-bottom:2px solid LightSlateGray;
}

.title {
    font-size:22px;
    padding:0.7em 1em;
}

.title a {
    color:#FFFFFF;
    font-size: 22px;
    text-decoration: none;
}
.sub-title {
    font-size:15px;
    padding:0.2em 1.6em;
    color: #075181;
    font-weight: bold;
}

.header-navi {
    padding:12px 24px;
}

.header-navi a {
    color:#FFFFFF;
    text-decoration: none;
    padding:2px 10px;
}

.header-navi a:hover {
    text-decoration: underline;
}

.body {
    background-color: #FFFFFF;
}

.side {
    margin: 5px 0 5px 5px;
    width: 20%;
}

.main {
    margin: 5px 0 5px 0px;
    background-color: #FFFFFF;
    width: 78%;
    padding: 5px;
}

.side-navi h4 {
    border-bottom:1px solid #CCCCCC;
    clear:both;
    color:#075181;
    font:bold 14px "Microsoft yahei",verdana,sans-serif;
    margin:20px 0 5px
}

.side-navi li li {
    margin:8px 0;
}

.side-navi a {
    color: #075181;
    text-decoration: none;
}

.side-navi a:hover {
    color: #68ADD5;
    text-decoration: underline;
}

.artiic {
    margin: 5px 0;
}

.article-date {
    color:#075181;
    font:bold 12px/24px "Georgia",sans-serif;
    padding:0 0 0 10px;
    text-align:left;
}

.article-title {
    margin: 1em 1em 0;
    border-bottom:1px solid #036CB4;
    font-family:"Microsoft yahei",verdana,sans-serif;
    padding-bottom: 5px;
}

.article-title h2 a {
    font-size: 15px;
    color:#5F5F5F;
}

.article-title h2 a:hover {
    color: #68ADD5;
}

.article-tags {
    display: none;
}

.article-body {
    margin: 1em;
}

.article-footer {
    margin: 1em;
    border-top: 1px solid #EEEEEE;
    padding: 3px 6px;
    color: #075181;
}

.article-create-date {
    color: #AAAAAA;
}

.pagination {
    text-align: center;
    margin: 16px;
}

.pagination a, .pagination a:visited {
    color: #4272DB;
    text-decoration: none;
}

.pagination a.selected {
    color: #000000;
    font-weight: bold;
}

.comments {
    margin: 1em;
}

.comment-title {
    background:none repeat scroll 0 0 #FBF9F9;
    border-top:1px solid #336699;
    margin:5px 0 6px;
    padding:3px 10px;
}

.comment-body {
    margin:0 24px 12px;
}