body {
    background-color: #EFEFEF;
}

.content {
    width: 940px;
    margin: 0 auto;
}

/* header */
.header {

}

.header-user {
    height: 150px;
}

.header-navi {
    background: url("images/icon.png") 0px -63px repeat-x #333333;
}

a.header-title {
    color: #FFFFFF;
    font-size: 26px;
    text-decoration: none;
    line-height: 49px;
    font-weight: bold;
}

.sub-title {
    color: #9BC4CE;
}

.header-navi-main .tabs {
    list-style: none;
}

.header-navi-main .tab {
    float: left;
    font-size: 16px;
    margin-left: 1px;
}

.header-navi-main .tab:hover {
    background: url("images/icon.png") repeat-x scroll 0 -63px #9BC4CE;
}

#header-pages {
    position: relative;
}

.arrow-dowm-icon {
    background: url("images/icon.png") no-repeat scroll -13px -23px;
    float: left;
    height: 13px;
    margin: 21px 0 0 6px;
    width: 13px;
    cursor: pointer;
}

.header-navi-main .tab a {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    line-height: 47px;
    padding: 2px 16px 0;
    text-decoration: none;
}

.atom-icon {
    background: url("images/icon.png") no-repeat;
    float: left;
    height: 22px;
    margin: 13px 0 0 6px;
    width: 22px;
}

#header-pages:hover .sub-tabs {
    left: 0px;
    list-style: none;
    position: absolute;
    top: 49px;
    display: block;
}

.header-navi-main .sub-tab {
    background-color: #9BC4CE;
    border-bottom: 1px solid #76A0AA;
    border-top: 1px solid #B4D9E2;
    margin-left: 0px;
}

.header-navi-main .sub-tab a {
    min-width: 98px;
    padding: 0 16px;
    line-height: 42px;
    font-size: 14px;
}

.header-navi-main .sub-tab:hover {
    background-color: #76A0AA;
}

/* footer widgets */
.footer-widgets {
    background: url("images/indentline-light.png") repeat-x scroll left top transparent;
    padding: 10px 0;
}

.footer-block {
    margin: 20px 20px 0 0;
    width: 214px;
}

.footer-block h4{
    font: bold 18px Arial,Helvetica,sans-serif;
    padding: 0 0 15px;
    background: url("images/indentline.png") repeat-x scroll left bottom transparent;
}

.footer-block ul {
    list-style: none;
}

.footer-block li {
    margin-left: 0px;
    height: 28px;
    background: url("images/indentline-light.png") repeat-x scroll left bottom transparent;
}

.footer-block li.mostUsedTags a{
    padding-left: 29px;
}

.footer-block li img{
    cursor: pointer;
    height: 16px;
    left: 10px;
    position: relative;
    top: -22px;
    width: 16px;
}

.footer-block li a {
    color: #555555;
    display: block;
    padding: 6px 0 4px 10px;
    text-decoration: none;
}

.footer-block li sup {
    float: left;
}

.footer-block li a:hover {
    background: url("images/icon.png") repeat-x 0px -36px;
}

/* footer secondary */
.footer-secondary {
    background: url("images/indentline-light.png") repeat-x scroll left top #DEDEDE;
    padding: 40px 0;
}

/* footer copyright */
.footer {
    background: url("images/indentline-light.png") repeat-x scroll left top #DEDEDE;
}