/* 
    Document   : default-index
    Version    : 1.0.0.6, Aug 13, 2010
    Author     : Liyuan Li
    Description:
        user blog default style.
*/
/* framework */
.content {
    width: 980px;
    margin: 0 auto;
}

.header {
    height: 80px;
}

.side {
    width: 188px;
    margin-right: 12px;
}

.main {
    width: 766px;
    border-left: 2px solid  #E5ECF9;
    padding-left: 12px;
}

/* header */
#logoTitle {
    font-size:32px;
    line-height:46px;
    text-decoration:none;
}

.header-navi {
    padding: 48px 12px 0 0;
}

/* article list */
.article {
    padding: 24px 12px;
}

.article-title {
    background-color:#E3E9FF;
    border-top:1px solid #3366CC;
    padding:3px 0 3px 12px;
    float: left;
    width: 639px;
}

.article-date {
    -moz-border-radius:5px 5px 5px 5px;
    background-color:#E3E9FF;
    border:1px solid #BBCCFF;
    margin:0 12px 12px 0;
    padding:6px;
    width:65px;
    float: left;
}

/* article detail */
.article-body {
    margin: 0 12px 24px;
}

.article-footer {
    color: #008800;
    margin-top: 24px;
}

.comment-title {
    background-color:#E3E9FF;
    border-top:1px solid #3366CC;
    padding:3px 12px 3px 12px;
}

.comment-body {
    padding: 12px;
}

.comment-picture {
    margin-right: 12px;
}

.comment-picture img {
    width: 60px;
    height: 60px;
}

/* side */
.side-navi a.selected {
    text-decoration: none;
    color: #000000;
}
.side-navi li {
    white-space: nowrap;
}

.line {
    margin-top: 12px;
    padding-top: 12px;
    border-top: thin dotted #BBBBBB;
}

#userIntro img {
    -moz-border-radius:6px 6px 6px 6px;
    border:1px solid #BBCCFF;
    margin-top:9px;
    padding:6px;
}

/* pagination */
.pagination {
    text-align: center;
    margin: 16px;
}

.pagination a, .pagination a:visited {
    color: #4272DB;
    text-decoration: none;
}

.pagination a.selected {
    color: #000000;
    font-weight: bold;
}

/* tags.html */
#tagsPanel .tagPanel {
    float: left;
    border: 2px solid;
    margin: 3px;
    -moz-border-radius:6px;
    cursor: pointer;
}

#tagsPanel .tagPanel:hover {
    background-color: #EEEEEE;
}

#tagsPanel .tagPanel a {
    text-decoration: none;
}