body{background:url("images/bg.jpg") repeat-x scroll 0 20px #BEC3C6;color:#555555;}
a, a:link, a:active, a:visited{color:#2970A6;text-decoration:none;}
a:hover{text-decoration:underline;}
h1{font-size:200%;}
h4{font-size:160%;}
h5{font-size:12px;}
.margin5R{margin-right:5px;}
.margin5{margin:5px;}
.wrapper{background:url("images/light.gif") no-repeat scroll 50% 0 transparent;padding:20px 0;}
.content{margin:0 auto;width:936px;}
.header{background:url("images/header.jpg") no-repeat scroll 0 0 transparent;border-bottom:1px solid #A6A6A6;height:65px;padding:25px 30px 0;}
.body{background:url("images/sidesep.gif") repeat-y scroll right center #FFFFFF;min-height:400px;}
.side-navi{background:url("images/sidebar_shadow.gif") repeat-x scroll 50% 0 #F7F7F7;font-size:95%;line-height:145%;padding-top:8px;width:300px;}
.main{background:url("images/main_shadow.gif") repeat-x scroll center top #FFFFFF;padding:13px 15px 15px;width:605px;}
.footer{background:url("images/footer.jpg") no-repeat scroll 0 0 transparent;border-top:1px solid #CCCCCC;font-size:11px;height:88px;line-height:145%;padding:0;}
#logoTitle{color:#FFFFFF;display:block;font-family:"Trajan Pro";height:30px;text-decoration:none;}
.sub-title{border-top:1px solid #FFFFFF;color:#FFFFFF;font-size:10px;padding:0 3px;}
#header-navi{background:none repeat scroll 0 0 #FFFFFF;border-bottom:1px solid #A6A6A6;}
#header-navi li{float:left;list-style:none;margin-left:0px;}
#header-navi li a{outline:none;background:url("images/menu.gif") no-repeat scroll 0 0 transparent;color:#382E1F;display:block;font-size:11px;height:31px;line-height:31px;margin-left:-10px;padding:0 20px;text-decoration:none;}
#header-navi li a:hover{background-position:0 -31px;}
#header-navi li a.home{margin-left:0;padding:0;text-indent:-999em;width:45px;background-position:0 -93px;}
#header-navi li a.home:hover{background-position:0 -124px;}
#header-navi li a.lastNavi:hover{background-position:0 0;}
#header-navi li.selected a{background-position:0 -62px;}
#header-navi li.selected a.home{background-position:0 -155px;}
#statistic{line-height:31px;margin-right:15px;font-size:11px;}
.footer .copyright{padding-top:12px;width:880px;}
.footer .goTop{background:url("images/icons.gif") no-repeat scroll 0 -304px transparent;color:#2A2A2A;cursor:pointer;line-height:18px;margin:5px 17px 0 0;padding-left:16px;width:22px;}
.article{padding-bottom:15px;}
.article-title{border-bottom:1px solid #CCCCCC;font-size:16px;margin-top:10px;padding:0 5px 3px;}
.article-title sup{font-size:12px;}
.article-title a{color:#4C4C4C;text-decoration:none;}
.article-title a:hover{color:#2970A6;}
.article-abstract{word-wrap:break-word;margin:5px 0 5px 5px;line-height:145%;}
.tagsIcon, .articles-commentIcon, .dateIcon, .article-browserIcon{background:url("images/icons.gif") no-repeat scroll 0 -400px transparent;height:16px;margin-right:6px;width:16px;float:left;}
.tagsIcon{background-position:0 -400px;margin-left:15px;}
.dateIcon{background-position:0 -48px;}
.articles-commentIcon{background-position:0 -96px;}
.article-browserIcon{background-position:0 -480px;}
.article-body{line-height:145%;padding:5px 0 0 5px;}
.article-footer{margin:0 5px 10px 5px;}
.article-relative{line-height:22px;margin-top:24px;}
.comments{position:relative;background:none repeat scroll 0 0 #FCFCFC;border-bottom:1px solid #CCCCCC;border-top:1px solid #CCCCCC;margin:15px -15px;padding:0 15px 15px;}
.comment-title{background-color:#E3E9FF;border-top:1px solid #3366CC;padding:3px 12px 3px 12px;position:relative;}
.comment-body-ref{background-color:#FFFFFF;opacity:0.9;padding:6px;position:absolute;width:605px;z-index:10;filter:alpha(opacity=90);}
.comment-body{margin-top:15px;}
.comment-author{float:left;text-align:center;width:81px;}
.comment-author div{margin-top:10px;padding-right:14px;background:url("images/commentpoint.png") no-repeat scroll 100% 33% transparent;}
.comment-author img{border:1px solid #999999;padding:1px;width:32px;height:32px;}
.comment-author a{margin-right:14px;font-weight:bold;}
.comment-info{background:url("images/comment.gif") no-repeat scroll 0 0 #EDEFF0;padding:10px 15px 0;width:494px;font-size:12px;}
.comment-content{background:url("images/comment.gif") no-repeat scroll 100% 100% transparent;line-height:145%;margin:0 -15px;padding:9px 15px 10px;font-size:12px;}
.comment-form img{cursor:pointer;}
.comment-form input, .comment-form textarea{font-family:Helvetica,Arial,sans-serif;color:#555555;background:url("images/textfield.gif") repeat-x scroll 50% 0 #FFFFFF;border:1px solid #A6A6A6;padding:2px 1px;width:200px;}
.comment-form textarea{width:601px;font-size: 12px;}
.comment-form button{background:none repeat scroll 0 0 #B4D666;border-color:#B4D666 #81B840 #81B840 #B4D666;border-style:solid;border-width:1px;color:#2970A6;font-size:12px;padding:3px 6px;height:22px;line-height:22px;-moz-border-radius:0px;-webkit-border-radius:0px;}
.comment-form button:hover{background:none repeat scroll 0 0 #98C64C;border-color:#76B33A #98C64C #98C64C #76B33A;color:#074A7E;}
#commentURLLabel, #commentURLLabelReply{background:url("images/textfield.gif") repeat-x scroll 50% 0 #FFFFFF;border:1px solid #A6A6A6;border-right:0px;float:left;height:20px;line-height:20px;}
#commentURL, #commentURLReply{border-left:0 none;width:166px;}
.error-msg{color:#3366CC;}
.side-navi .item{padding:15px;}
.side-navi .navi-comments img{width:32px;height:32px;border:1px solid #999999;padding:1px;margin-right:7px;}
.side-navi .navi-comments a{font-weight:bold;}
.side-navi .navi-comments .side-comment{font-weight:normal;color:#555555;}
.side-navi .navi-comments .side-comment img{border:0px;height:24px;width:24px;padding:0px;margin-right: 0px;}
.side-navi .navi-comments li{padding:2px 0;}
.side-navi .navi-comments li div{width:227px;}
.side-navi a.selected{text-decoration:none;color:#555555;}
.side-navi ul.navi-tags li, .side-navi .navi-comments li{padding-left:0px;background-image:none;}
.side-navi ul.navi-tags li img{padding-right:6px;height:16px;width:16px;}
.side-navi li{white-space:nowrap;overflow:hidden;background:url("images/icons.gif") no-repeat scroll 0 -624px transparent;margin:5px 0 0 0;padding-left:22px;}
.side-navi li.aboutMe{white-space:normal;}
.side-navi .line{background:url("images/widgetsep.png") no-repeat scroll center bottom transparent;height:6px;width:300px;}
.pagination{text-align:center;margin:16px;}
.pagination a, .pagination a:visited{color:#4272DB;padding:0 3px;}
.pagination a.selected{color:#000000;font-weight:bold;}
#tagsPanel .tagPanel{float:left;border:2px solid;margin:3px;-moz-border-radius:6px;-webkit-border-radius:6px;cursor:pointer;}
#tagsPanel .tagPanel:hover{background-color:#EEEEEE;border:2px dashed;}
#tagsPanel .tagPanel{text-decoration:none;}
.error-body{background:url("images/main_shadow.gif") repeat-x scroll center top #FFFFFF;height:400px;padding:12px;}
.error-title{line-height:72px;}
.error-panel{margin:0 auto;width:201px;}
.error-panel a{background:none repeat scroll 0 0 #9CD941;border-color:#D0F29D #398A38 #398A38 #D0F29D;border-style:solid;border-width:1px;color:#000000;font-size:14px;font-weight:bold;margin-right:3px;padding:10px 15px;text-decoration:none;}
.error-panel a:hover{background-color:#ADEb51;}
.kind-panel{background:url("images/box.gif") no-repeat scroll 100% 100% #F4F5F7;margin-bottom:10px;padding:8px 12px;}
.kind-title{background:url("images/box.gif") no-repeat scroll 0 0 #E3E4E6;border-bottom:1px solid #CCCCCC;padding:6px 12px;font-weight:bold;}
