html{min-width:948px;}
body{background:url("../images/bg-tree.jpg") repeat-y scroll 50% 0 #7BCCFF;min-width:948px;color:#42423D;}
a, a:link, a:visited{color:#FFFFFF;text-decoration:none;}
a:hover{text-decoration:underline;}
h5{font-size:12px;}
.wrapper{background:url("../images/bg-header.jpg") no-repeat scroll 50% 0 transparent;}
.bg-bottom{background:url("../images/bg-footer2.jpg") no-repeat scroll 50% 100% transparent;}
.content{margin:0 auto;width:948px;}
.header{height:476px;width:100%;}
.header-navi{position:relative;z-index:10;}
.header-navi ul{list-style:none outside none;margin-top:20px;}
.header-navi li{float:left;}
.header-title{margin-left:146px;padding-top:222px;position:relative;color:#FFFFFF;}
#logoTitle{color:#FFFFFF;font-size:52px;text-decoration:none;}
.header-title div{color:DimGray;width:300px;}
.side{width:256px;margin:0 0 0 -21px;}
.body{padding-bottom:682px;min-height:643px;}
.main{width:634px;}
.footer{    
    color: Lavender;
    padding: 12px;
    text-align: center;
}
.footer a{font-weight:bold;}
.article{overflow:hidden;width:553px;}
.article-header sup{color:red;font-size:12px;}
.article-header h2{color:#242323;font-weight:bold;position:relative;margin-left:6px;}
.article-header h2 a{color:#242323;display:block;padding:3px 0 4px 10px;text-decoration:none;}
.article-header h2 a:hover{background-color:#242323;color:#EC0A8B;}
.article-info{margin:10px 0 0 9px;width:109px;}
.article-main{margin:10px 0 0 9px;min-height:150px;width:426px;}
.article-tags{
    background-color: #EC0A8B;
    float: left;
    font-style: normal;
    height: 21px;
    line-height: 21px;
    margin: 0 10px 10px 0;
    padding: 3px 10px;
}
.article-abstract{word-wrap:break-word;overflow: hidden;color:#42423D;line-height:20px;padding:6px 10px 12px 0;text-align:justify;}
.main .line{background:url("../images/bg-branch.png") no-repeat scroll 0 0 transparent;height:108px;width:575px;}
.article-date{-moz-border-radius:5px;-webkit-border-radius:5px;background-color:#D4F2FB;border:6px solid #A8D3ED;padding:6px;width:65px;margin-left:16px;}
.article-comment{background:url("../images/bg-comments.png") no-repeat scroll 0 0 transparent;font-size:12px;height:22px;margin:24px 0 0;padding:29px 0 0;text-align:center;}
.article-comment a{color:#42423D;}
.main h2.title{color:#FF9000;text-align:center;margin:-34px 0 12px}
.main h2 span{font-size:12px;float:right;color:DimGray;padding-right:10px;margin-top:7px;}
.article-body{margin:0 12px 12px;min-height:176px;}
.article-body a, .article-abstract a{color:#242323;text-decoration:underline;}
.article-footer{margin-right:12px;}
.article-details-footer a{line-height:16px;}
.article-details-footer{margin:36px 12px 0 0;}
.article-relative{line-height:20px;margin:12px 0;}
.comments{padding-left: 99px;position:relative;}
.comments-header{
    background: url("../images/balloons.png") no-repeat scroll 0 0 transparent;
    height: 88px;
    left: 100px;
    position: relative;
    top: 40px;
    width: 440px;
    z-index: 10;
}
.comment-top{background:url("../images/bg-comments-top.png") no-repeat scroll 0 0 transparent;height:22px;}
.comment-body{word-wrap:break-word;overflow: hidden;background:url("../images/bg-comments-body.png") repeat-y scroll 0 0 transparent;padding:0 27px 2px 27px;width:401px;margin-left:-1px;color:#42423D;}
.comment-body a {
    color:  #42423D;
}
.comment-body td{white-space:normal;}
.comment-bottom{background:url("../images/bg-comments-bottom.png") no-repeat scroll 0 0 transparent;height:23px;}
.comment-title{padding-bottom:6px;}
.comment-title a{font-weight:bold;color:#42423D;}
.comment-body-ref{left:182px;opacity:0.9;position:absolute;top:16px;z-index:16;}
#emotions img, #emotionsReply img{cursor:pointer;display:block;float:left;margin-right:2px;}
img.comment-picture{width:60px;height:60px;padding:0px 6px 4px 0;}
.comment-reply{margin:0 auto 24px auto;}
#commentURLLabel, #commentURLLabelReply {
    border-color: #C0C0C0 -moz-use-text-color #D9D9D9 #D9D9D9;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    float: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    outline: medium none;
    padding-left: 3px;
    width: 31px;
    background-color: #FFFFFF;
}
#commentURL, #commentURLReply{border-left:0px;width:287px;}
#comment, #commentReply{width:321px;resize: vertical;}
.em00, .em01, .em02, .em03, .em04, .em05, .em06, .em07, .em08, .em09, .em10, .em11, .em12, .em13, .em14 {
    background-image: url("/images/emotions-blue.png");
    margin-right: 2px;
}
.error-msg{color:#EC0A8B;font-weight:bold;white-space:normal;}
#sideNavi .line{background:url("../images/bg-branch-small.png") no-repeat;height:69px;margin-top:12px;}
#sideNavi .block{margin-left:64px;}
#sideNavi h3{background:url("../images/bg-heading.png") no-repeat scroll 0 0 transparent;color:#EC0A8B;font-size:15px;height:30px;padding:38px 0 0 12px;}
#sideNavi .notice h3{background-image:url("../images/bg-heading-about-us.png");}
#sideNavi #recentComments img{height:24px;vertical-align:top;width:24px;}
#sideNavi #recentCommentsLabel{background-image:url("../images/bg-heading-portfolio.png");}
#sideNavi .mostCommentArticles h3{background-image:url("../images/bg-heading-categories.png");}
#sideNavi .mostViewCountArticles h3{background-image:url("../images/bg-heading-resources.png");margin-bottom:6px;}
#sideNavi .notice>div {margin: 12px 12px 12px 17px;}
#sideNavi ul{margin-left:5px;width:182px;}
#sideNavi li{font-size:12px;height:28px;vertical-align:top;margin-left:0px;}
#sideNavi li>a{color:#42423D;float:left;height:13px;margin:0;padding:3px 0 12px 16px;text-decoration:none;width:167px;border-bottom:1px dotted #FFFFFF;line-height:23px;overflow:hidden;}
#sideNavi li>a sup{color:#EC0A8B;}
#sideNavi li>div {
    display: none;
}
#sideNavi li p {
    display: inline;
}
#sideNavi .popTags li>a{padding-left:47px;width:136px;}
#sideNavi .popTags li img{cursor:pointer;left:16px;position:relative;top:-22px;height:16px;width:16px;}
#sideNavi li.selected, #sideNavi li>a:hover{background:url("../images/bg-menu-active.png") repeat scroll -8px -8px transparent;color:#EC0A8B;font-weight:bold;padding-left:24px;width:159px;}
#sideNavi .popTags li.selected, #sideNavi .popTags li a:hover{padding-left:55px;width:128px;background-image:url("../images/bg-menu-active-tags.png");}
#statistic{height:138px;line-height:24px;margin:28px 0 0 80px;}
.pagination{text-align:center;margin:16px;}
.pagination a, .pagination a:visited{padding:0 3px;}
.pagination a.selected{color:#42423D;font-weight:bold;}
#tagsPanel{width:553px;}
#tagsPanel .tagPanel{float:left;border:2px solid;margin:3px;-moz-border-radius:6px;-webkit-border-radius:6px;cursor:pointer;background-color:#EEEEEE;}
#tagsPanel .tagPanel:hover{background-color:transparent;border:2px dashed;}
#tagsPanel .tagPanel{text-decoration:none;}
.error-title{width:553px;}
.error-panel{padding:24px;}
.error-title{background-color:#242323;color:#EC0A8B;display:block;padding:3px 10px 4px 10px;position:relative;}
.goTopIcon {
    background-position: -128px -32px;
}
.goBottomIcon {
    background-position: -144px -32px;
}