/* 
    Document   : default-index
    Version    : 1.0.0.3, Aug 13, 2010
    Author     : Liyuan Li
    Description:
        user blog style.
*/
/* framework */
.content {
    width: 980px;
    margin: 0 auto;
}

.header {
    height: 80px;
}

.side {
    width: 188px;
    margin-right: 12px;
}

.main {
    width: 766px;
    border-left: 2px solid  #E5ECF9;
    padding-left: 12px;
}

/* header */
#logoTitle {
    font-size:32px;
    line-height:46px;
    text-decoration:none;
}

/* article list */
.article {
    padding: 24px 12px;
}

.articleTitle {
    width: 639px;
}

.articleDate {
    -moz-border-radius:5px 5px 5px 5px;
    background-color:#E3E9FF;
    border:1px solid #BBCCFF;
    margin:0 12px 12px 0;
    padding:6px;
    width:65px;
}

/* article detail */
.articleContent {
    margin: 0 12px 24px;
}

#articleBottom {
    color: #008800;
}

#comments {
    margin-top: 24px;
}

#comments button {
    margin: 12px 0 0 634px;
}

/* side */
#sideNavi a.selected {
    text-decoration: none;
    color: #000000;
}
#sideNavi li {
    white-space: nowrap;
}
/* pagination */
.pagination {
    text-align: center;
    margin: 16px;
}

.pagination a, .pagination a:visited {
    color: #4272DB;
    text-decoration: none;
}

.pagination a.selected {
    color: #000000;
    font-weight: bold;
}

/* tags.html */
#tags {
    text-align: center;
}