/* 
    Document   : default-pagination
    Created on : Aug 3, 2010, 10:19:55 AM
    Author     : Vanessa
    Description:
        Default style for bowknot.pagination.js.
*/
.pagination-clear {
    line-height: 0px;
    clear: both;
    font-size: 0px;
}

.pagination-pagination span{
    margin: 0px 5px 0 4px;
    display: block;
    float: left;
    cursor: pointer;
}

.pagination-page {
    color: #4272DB;
}

.pagination-pageHover {
}

.pagination-pageCurrent {
    color: #000000;
    font-weight: bold;
}

.pagination-prePage {
}

.pagination-nextPage {
}

.pagination-prePageHover {
    color: #000000;
}

.pagination-nextPageHover {
    color: #000000;
}

.pagination-goInput {
    width: 18px;
}

.pagination-submit {

}