/*
    Document   : default-dialog
    Created on : Aug 12, 2010, 7:15:43 PM
    Author     : Vanessa
    Description:
        Purpose of the stylesheet follows.
*/
.dialog-background {
    background-color:gray;
    height:100%;
    left:0;
    opacity:0.3;
    position:absolute;
    top:0;
    width:100%;
    filter:alpha(opacity=30);
}

.dialog-panel {
    -moz-border-radius:4px 4px 4px 4px;
    background: #FFFFFF;
    border:2px solid #3366CC;
    position:absolute;
    z-index: 100;
}

.dialog-content {
    margin: 12px;
}

.dialog-close {
    float: right;
    cursor: pointer;
    height: 12px;
    width: 12px;
    background: url("../images/icon.png") no-repeat -51px -16px;
}