/* 
    Document   : default-admin
    Version    : 1.0.0.7, Aug 4, 2010
    Author     : Vanessa
    Description:
        Purpose of the stylesheet follows.
*/
/* framework */
.side {
    width: 173px;
}

#main {
    background-color: #BBCCFF;
    padding: 6px;
    min-height: 300px;
}

#allPanel {
    min-width: 885px;
}

/* top */
.topMsg {
    height: 24px;
    text-align: center;
}

#tipMsg {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    background-color:#E5E7EB;
    font-weight:bold;
    line-height:24px;
    margin:0 auto;
    padding:2px 6px;
    text-align:center;
}

/* navi */
#navi li {
    padding: 2px 0 2px 24px;
    margin-left: 0px;
}

#navi li {
    cursor: pointer;
}

#navi li.hover {
    background-color: #DDE5FF;
}

#navi li.selected {
    background-color: #BBCCFF;
    font-weight: bold;
}

/* article list and link list*/
#articlePanel, #linkPanel, #aticltPanel {
    height: 100%;
    background-color: #E3E9FF;
}

#articlePagination, #linkPagination {
    float: right;
    margin: 10px;
}

.comment-title {
    background-color:#E3E9FF;
    border-top:1px solid #3366CC;
    padding:3px 0 3px 12px;
}

.comment-body {
    margin: 12px;
}

#comments, #updateLink {
    height: 462px;
    overflow: auto;
}

/* sync */
#syncBlogType {
    background-color: #E3E9FF;
    padding: 12px 0 0 12px;
}

#syncSettingPanel {
    height:236px;
    padding: 12px;
}

#syncSettingPanel fieldset{
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border:1px solid #A0A0A0;
    padding:12px;
    width: 350px;
}

#archiveDatePanel {
    margin-right: 12%;
}

/* preference */
#skinsPanel {
    width: 99%;
    min-width: 328px;
}

.skinPreview {
    width: 500px;
    margin: 6px;
    cursor: pointer;
    height: 160px
}

.skinItem {
    text-align: center;
    border: 1px solid #E3E9FF;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    margin: 12px;
    width: 524px
}

.skinItem.selected {
    border: 1px solid;
    border-color: #CCCCCC #BBBBBB #A0A0A0;
}

.skinItem:hover {
    border-color: #BBBBBB;
    border-style: solid;
}

/* tabs */
.tabs {
    line-height: 26px;
}

.tabs span {
    padding:6px 12px;
    cursor: pointer;
}

.tabPanels {
    background-color: #E3E9FF;
    padding: 12px;
}
.tabs span.selected {
    background-color:#E3E9FF;
    font-weight:bold;
    padding:6px 12px;
}
