body {
    background-color: #EFEFEF;
    color: #555555;
}

.content {
    width: 940px;
    margin: 0 auto;
}

.hr {
    background: url("images/indentline-light.png") repeat-x scroll left top transparent;
    margin: 20px 0 40px;
    clear: both;
    height: 2px;
}

.arrow-right {
    background: url("images/icon.png") 0px -65px no-repeat;
    float: left;
    height: 38px;
    width: 15px;
}

.star-current {
    background: url("images/favorites.png") no-repeat;
    width: 128px;
    height: 128px;
}

.star {
    background: url("images/star_none.png") no-repeat;
    width: 128px;
    height: 128px;
}

/* header */
.header {

}

.header-user {
    height: 150px;
    background-color: #DEDEDE;
}

.header-navi {
    background: url("images/icon.png") 0px -101px repeat-x #333333;
}

a.header-title {
    color: #FFFFFF;
    font-size: 26px;
    text-decoration: none;
    line-height: 49px;
    font-weight: bold;
}

.sub-title {
    color: #9BC4CE;
}

.header-navi-main .tabs {
    list-style: none;
}

.header-navi-main .tab {
    float: left;
    font-size: 16px;
    margin-left: 1px;
}

.header-navi-main .tab:hover {
    background: url("images/icon.png") repeat-x scroll 0 -101px #9BC4CE;
}

#header-pages {
    position: relative;
}

.arrow-dowm-icon {
    background: url("images/icon.png") no-repeat scroll -13px -23px;
    float: left;
    height: 13px;
    margin: 21px 0 0 6px;
    width: 13px;
    cursor: pointer;
}

.header-navi-main .tab a {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    line-height: 47px;
    padding: 2px 16px 0;
    text-decoration: none;
}

.atom-icon {
    background: url("images/icon.png") no-repeat;
    float: left;
    height: 22px;
    margin: 13px 0 0 6px;
    width: 22px;
}

#header-pages:hover .sub-tabs {
    left: 0px;
    list-style: none;
    position: absolute;
    top: 49px;
    display: block;
}

.header-navi-main .sub-tab {
    background-color: #9BC4CE;
    border-bottom: 1px solid #76A0AA;
    border-top: 1px solid #B4D9E2;
    margin-left: 0px;
}

.header-navi-main .sub-tab a {
    min-width: 98px;
    padding: 0 16px;
    line-height: 42px;
    font-size: 14px;
}

.header-navi-main .sub-tab:hover {
    background-color: #76A0AA;
}

/* footer secondary */
.footer-secondary {
    background: url("images/indentline-light.png") repeat-x scroll left top #DEDEDE;
    padding: 40px 0;
}

.footer-secondary h4 {
    background-color: #333333;
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: bold;
    padding:8px 0 7px 15px;
    width: 145px;
}

.most-view-count-articles, .recent-comments {
    float: left;
    width: 700px;
    margin-left: 65px;
}

.most-view-count-articles a {
    color: #000000;
    font: 18px 微软雅黑;
    margin-right: 20px;
    text-decoration: none
}

.most-view-count-articles a:hover {
    text-decoration: underline;
}

.recent-comments div {
    float: left;
    margin: 0 0 11px 11px;
    text-align: center;
}

.recent-comments div a {
    display: block;
}

.recent-comments img {
    background-color: #FFFFFF;
    border-bottom: 1px solid #C2C2C2;
    border-right: 1px solid #C2C2C2;
    padding: 8px 7px 7px 8px;
    width: 75px;
    height: 75px;
}

.recent-comments img:hover {
    border-color: #5A5A5A;
}

.footer-secondary .comment-author {
    color: #000000;
}

/* footer widgets */
.footer-widgets {
    background: url("images/indentline-light.png") repeat-x scroll left top transparent;
    padding: 40px 0;
}

.footer-block {
    margin-right: 20px;
    width: 220px;
}

.footer-block h4{
    font: bold 18px 微软雅黑;
    color: #000000;
    padding: 0 0 15px;
    background: url("images/indentline.png") repeat-x scroll left bottom transparent;
}

.footer-block ul {
    list-style: none;
}

.footer-block li {
    margin-left: 0px;
    height: 28px;
    padding-left: 10px;
    background: url("images/indentline-light.png") repeat-x scroll left bottom transparent;
}

.footer-block li.mostUsedTags a{
    padding-left: 20px;
}

.footer-block li img{
    cursor: pointer;
    height: 16px;
    left: 0px;
    position: relative;
    top: -22px;
    width: 16px;
}

.footer-block li a {
    color: #555555;
    display: block;
    height: 16px;
    line-height: 17px;
    overflow: hidden;
    padding: 6px 0 4px 0px;
    text-decoration: none;
}

.footer-block li sup {
    float: left;
    margin: 3px 3px 0 0;
}

.footer-block li:hover {
    background: url("images/icon.png") repeat-x 0px -36px;
}

.footer-block li a:hover {
    text-decoration: underline;
}

/* footer copyright */
.footer {
    background: url("images/indentline-light.png") repeat-x scroll left top #DEDEDE;
    position: relative;
}

.footer a {
    color: #000000;
    text-decoration: underline;
}

.footer div {
    background: url("images/icon.png") no-repeat -12px -64px;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 0;
    position: absolute;
    right: 9px;
    top: 9px;
}