/* 
    Document   : default-base
    Version    : 1.0.0.1, Aug 4, 2010
    Author     : Vanessa
    Description:
        Basci css.
*/
*, html, body {
    height:auto;
    margin:0;
    padding:0;
}

body {
    background-color:#FFFFFF;
    color:#000000;
    font-family:Helvetica,Arial,sans-serif;
    font-size:small;
}

a, a:link {
    color:#0000CC;
}

a:active {
    color:red;
}

a:visited {
    color:#551A8B;
}

p {
    line-height:125%;
    margin:0;
    padding:1em 0 0;
}

img {
    border:medium none;
    margin:0;
    padding:0;
}

a img {
    border:1px solid;
    padding:1px;
}

h1 {
    font-size:160%;
}

h2 {
    font-size:140%;
}

h3 {
    font-size:120%;
}

h4 {
    font-size:110%;
}

ul {
    list-style: none;
}

li {
    margin-left: 12px;
}

button {
    background: url(../images/logo.png) repeat center bottom;
    border:1px solid;
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    height:28px;
    margin:0;
    vertical-align:top;
    -moz-border-radius:4px;
}

button:hover {
    border-color: #BBBBBB;
}

.paddingBottom12 {
    padding-bottom: 12px;
}

.maginTB12 {
    margin: 12px 0;
}

.marginBottom12 {
    margin-bottom: 12px;
}

.maginTR12 {
    margin: 12px 12px 0 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
}

.none {
    display: none;
}

.pointer {
    cursor: pointer;
}

.noUnderline {
    text-decoration: none;
}

.error-msg {
    color: red;
}

.contentBody {
    padding: 3px 12px;
    margin-bottom: 12px;
}

/* form */
.form th {
    text-align: right;
    white-space:nowrap;
    word-wrap:break-word;
}
.form input, .form textarea {
    width: 100%;
}

.form input:focus, .form textarea:focus {
    border: 2px solid #73A6FF;
}

.form input {
    height: 24px;
    line-height: 24px;
}

.form .normalInput {
    width: 220px;
}

/* top and footer */
#top {
    border-bottom: 1px solid #C9D7F1;
    padding:3px;
    background-color: #FFFFFF;
}

#top span, .footer span {
    margin: 0 -2px;
}

#top a.logo, .footer a {
    text-decoration: none;
}

.footer {
    text-align: center;
    margin: 12px;
}