/* 
    Document   : default-base
    Version    : 1.0.0.1, Aug 4, 2010
    Author     : Vanessa
    Description:
        Basci css.
*/
*, html, body {
    height:auto;
    margin:0;
    padding:0;
}

body {
    background-color:#FFFFFF;
    color:#000000;
    font-family:Helvetica,Arial,sans-serif;
    font-size:small;
}

a, a:link {
    color:#0000CC;
}

a:active {
    color:red;
}

a:visited {
    color:#551A8B;
}

p {
    line-height:125%;
    margin:0;
    padding:1em 0 0;
}

img {
    border:medium none;
    margin:0;
    padding:0;
    vertical-align:middle;
}

h1 {
    font-size:160%;
}

h2 {
    font-size:140%;
}

h3 {
    font-size:120%;
}

h4 {
    font-size:110%;
}

ul {
    list-style: none;
}

li {
    margin-left: 12px;
}

button {
    background: url(../images/icon.png) repeat center bottom;
    border:1px solid;
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    height:28px;
    margin:0;
    vertical-align:top;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    padding:0 6px;
}

button:hover {
    border-color: #BBBBBB;
}

.paddingBottom12 {
    padding-bottom: 12px;
}

.marginLeft12 {
    margin-left: 12px;
}

.magin12 {
    margin: 12px;
}

.maginTB12 {
    margin: 12px 0;
}

.marginBottom12 {
    margin-bottom: 12px;
}

.maginTR12 {
    margin: 12px 12px 0 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
}

.none {
    display: none;
}

.pointer {
    cursor: pointer;
}

.noUnderline {
    text-decoration: none;
}

.error-msg {
    color: red;
}

.contentBody {
    padding: 3px 12px;
    margin-bottom: 12px;
}

/* form */
.form th {
    text-align: right;
    white-space:nowrap;
    word-wrap:break-word;
}
.form input, .form textarea {
    width: 100%;
}

.form input:focus, .form textarea:focus {
    border: 2px solid #73A6FF;
}

.form input {
    height: 24px;
    line-height: 24px;
}

.form .normalInput {
    width: auto;
}

.form .label {
    width: 6%;
    font-weight: bold;
    text-align: right;
    line-height: 26px;
    margin: 6px;
}

.form .input {
    width: 92%;
    margin: 6px 0;
}
/* top and footer */
#admin span {
    cursor:pointer;
}

#top {
    border-bottom: 1px solid #C9D7F1;
    padding:3px;
    background-color: #FFFFFF;
}

#top a span, .footer span {
    margin: 0 -2px;
}

#top a.logo, .footer a {
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 12px;
}

/* icon */
.deleteIcon, .updateIcon, .commentIcon, .homeIcon, .adminIcon, .loginIcon, .logoutIcon, .calendarIcon, .browserIcon {
    width: 16px;
    height: 16px;
    background-image: url("../images/icon.png");
    cursor: pointer;
}

.updateIcon {
    background-position:-16px -16px;
}

.deleteIcon {
    background-position:0px -16px;
}

.commentIcon {
    background-position: -32px -16px;
}

.homeIcon {
    background-position:-64px -16px;
}

.adminIcon {
    background-position:-80px -16px;
}

.logoutIcon {
    background-position: -96px -16px;
}

.loginIcon {
    background-position: -112px -16px;
}

.browserIcon {
    background-position: -128px -16px;
}

.calendarIcon {
    background-position: -146px -16px;
}