/*
    Document   : default-completed
    Created on : Aug 28, 2010, 7:15:43 PM
    Author     : Vanessa
    Description:
        Purpose of the stylesheet follows.
*/
.completed-panel {
    background-color:#E3E9FF;
    border:1px solid #555555;
    display:none;
    padding: 2px;
    position: absolute;
    color: #0000CC;
    overflow: auto;
}

.completed-panel div.selected {
    background-color: #BBCCFF;
}