/* 
    Document   : default-admin
    Version    : 1.0.0.2, Aug 4, 2010
    Author     : Vanessa
    Description:
        Purpose of the stylesheet follows.
*/
/* framework */
.side {
    width: 173px;
}

#main {
    background-color: #BBCCFF;
    padding: 6px;
}

/* */
#allPanel {
    min-width: 800px;
}

/* top */
#tipMsg {
    line-height: 24px;
    height: 24px;
    text-align: center;
}

/* navi */
#navi li {
    padding: 2px 0 2px 24px;
    margin-left: 0px;
}

#navi li {
    cursor: pointer;
}

#navi li.hover {
    background-color: #DDE5FF;
}

#navi li.selected {
    background-color: #BBCCFF;
    font-weight: bold;
}

/* article list and link list*/
#articlePanel, #linkPanel {
    height: 100%;
    background-color: #E3E9FF;
}

#articlePagination, #linkPagination {
    float: right;
    margin: 10px;
}

/* asyn */
#loading {
    margin:24px auto;
    width:100px;
}

/* preference */
#skinsPanel {
    width: 99%;
    min-width: 328px;
}

.skinPreview {
    width: 150px;
    margin: 6px;
    border-width: 1px;
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    cursor: pointer;
}

/* tabs */
.tabs li {
    float: left;
}

.tabs span {
    cursor: pointer;
}

.tabPanels {
    margin: 12px;
}
.tabs span.selected {
    color: red;
}
